[Desktop Entry]
Encoding=UTF-8
Terminal=false
Name=Qt Visual Graph Editor
Comment=Application for viewing and manipulating small till middle-sized graphs
Exec=qvgeapp %F
Icon=/usr/share/qvge/qvge.png
Type=Application
Categories=Graphics;2DGraphics;Education;Science;DataVisualization;ComputerScience;Math;Viewer;Development;Qt;

