[Desktop Entry]
Name=qvge
GenericName=Qt visual graph editor
Comment=Application for viewing and manipulating small till middle-sized graphs. It supports several formats (GraphML, GEXF, GML, GraphViz/Dot).
Exec=qvgeapp
Icon=qvge
Type=Application
Categories=Graphics;2DGraphics;Education;Science;DataVisualization;ComputerScience;Math;Viewer;Development;Qt;
